.idea/
vendor/
workspace/
composer.phar
composer.lock

phpunit.phar
/.phpunit.result.cache
/coverage/
/coverage.xml
/coverage.clover.xml

*.sqlite
test/*.sqlite
tests/DemoApp/config/*
tests/DemoApp/log/*
tests/DemoApp/tmp/semaphore/*
tests/DemoApp/tmp/*
tests/DemoApp/storage/*